</div><!-- l-wrap -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
</body>
<footer class="l-footer">
  <div class="l-footer__contact">
    <div><a href="#"><img src="../assets/images/f_logo.png" width="90px"></a></div>
    <p class="p-footer__nameText">Ikeda Farm Village Tourist Association</p>
    <p class="p-footer__placeText">36-25-1 Inari, Ikeda cho, Imadate gun Fukui<br>(C/O Kottekote Ikeda)</p>
    <p class="p-footer__contactText">+81-778-44-8060<br><a href="#">Contact</a></p>
  </div>
    <div class="l-footer__menu flex flex_spaceBet">
      <ul class="flex">
        <li class="l-footer__menuText"><a href="#">About this site</a></li>
        <li class="l-footer__menuText"><a href="#">Sitemap</a></li>
      </ul>
      <small>&copy;2018 Ikeda Farm Village Tourist Association</small>
    </div>
</footer>
</html>