.p-stories__text{
	width: 450px;
	font-size: 16px;
}
.p-mapAccess__title{
	font-size: 20px;
	border-bottom: 1px solid $colorMain;
	padding: 0 0 3px 3px;
}
.p-footer__nameText{
	margin-top: 40px;
	font-size: 20px;
}
.p-footer__placeText{
	margin-top:35px;
	font-size: 16px;
}
.p-footer__contactText{
	margin-top: 20px;
	font-size: 16px;
}