.p-experience__btn--hover:hover{
  background-color: $colorMain;
  color: #fff;
  opacity: 1;
}

.p-experience__button{
  margin: 25px auto 0;
}
.p-experience__menu{
  margin: 60px 0 0 0;
}
.p-experience__images{
  margin-bottom: 85px;
  color: $colorMain;
  transition: 0.5s;
  &:hover{
    opacity: 0.6;
    transition: 0.5s;
  }
  
}

.is-hide{
  opacity: 0;
  transition: all 1s ease;
}

.is-show{
  opacity: 1;
  transition: none;
}
.is-up{
  transform: translateY(10px);
}