.p-mapAccess__wrap{
  width: 100%;
  max-width: 1045px;
  margin: 0 auto;
  @include mq(u-sp){
    padding: 0 25px;
  }
}
.p-mapAccess__gmap{
  // width: 100%;
  margin: 25px auto 0;
  position: relative;
  padding-bottom: 36.25%;
  padding-top: 30px;
  overflow: hidden;
  iframe,object,embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 400px;
  }
}
.p-mapAccess__button{
  margin: 40px auto 0;
}
.p-mapAccess__map{
  margin: 80px auto 0;
}
.p-mapAccess__textArea{
  width: 80%;
  margin: 80px auto 0;
}
.p-mapAccess__list{
  margin-top: 20px;
  li{
    position: relative;
    margin-top: 3px;
    padding-left: 20px;
    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 20px;
    }
    &:before{
      content: "";
      position: absolute;
      top: 8px;
      left: 0px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: black;
    }
  }
}
.p-mapAccess__title{
	font-size: 20px;
	border-bottom: 1px solid $colorMain;
	padding: 0 0 3px 3px;
}