.p-stories__wrap{
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}
.p-stories__box{
  margin-top: 20px;
  justify-content: space-between;
}
.p-stories__list{
  li{
    margin-top: 20px;
    justify-content: space-between;
    &:nth-child(2){
      flex-direction: row-reverse;
      >.p-stories__images{
        margin-right: 0;
      }
    }
  }
  @include mq(u-sp){
    padding: 0 30px;
    justify-content: center;
    li{
      justify-content: center;
      .p-stories__btn{
        margin: 10px auto 0;
      }
    }
  }
}
.p-stories__list-box{
  @include mq(u-sp){
    margin: 0 auto;
  }
}
.p-stories__images{
  width: 100%;
  max-width: 258px;
  margin-right: 40px;
  @include mq(u-sp){
    margin-right: 0;
    >div{
      margin-top: 10px; 
    }
  }
}
.p-stories__text{
  width: 100%;
  max-width: 450px;
	font-size: 16px;
}